# Entornos
.env
__pycache__/
*.pyc
node_modules/

# Docker
*.log

# Mongo
mongodb/data/*

# Python
__pycache__/
*.pyc
.env

# Django
db.sqlite3
*.log

# Node
node_modules/
package-lock.json

# Docker
*.pid

infra/postgres/data/

# Datos locales / CSV
backend/data/

# Python
__pycache__/
*.pyc

# Node
node_modules/
dist/
